{% extends "layout.html" %}

{% block body %}

	<header>
		<div class="menu">
			<div><img class="headerLogo" src="{{ url_for('static', filename='images/specialEats_white.png') }}"></div>
			<div class="location">
				<div class="navimage"><img class="navImage" src="{{ url_for('static', filename='images/navigator.png') }}" alt="navigator"></div>
				<div class="navigate">
					<div class="navText">Deliver to</div>
					<div class="navText">Port Harcourt</div>
				</div>
			</div>
			<div class="searchContainer">
				<form action="#" class="search" method="get">
					<select name="food" class="selector">
						<option selected>All</option>
						<option value="swallow">Swallow</option>
						<option value="rice">Rice</option>
						<option value="beans">Beans</option>
						<option value="noodles">Noodles</option>
						<option value="pasta">Pasta</option>
					</select>
					<input type="search" name="search" class="searchForm" autocomplete="off" placeholder="Search Special Eats">
					<button type="submit" class="searchButton"><img class="google" src="{{ url_for('static', filename='images/google.png') }}" alt="search_google"></button>
				</form>
			</div>
			<div class="menu_2Signin_2"><a href="#">{{ session.get("username") }}</a></div>
			<div class="flag_lang">
				<img id="flag_2" src="{{ url_for('static', filename='images/uk.png') }}" alt="uk_flag">
				<select name="language" id="languages_2" class="lang_2">
					{% for lang in langs %}
						<option id="lang_2" value="{{ lang }}">{{ lang }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="cartContainerTwo"><a href="#"><img class="cart" src="{{ url_for('static', filename='images/cart_2.png') }}" alt="cart"></a></div>
		</div>
		<div class="menu_2">
			<input type="checkbox" id="menuCheck">
			<label for="menuCheck" class="menucheck">
				<div class="hBuggerContainer">
					<div class="hBugger"></div>
				</div>
			</label>
			<nav class="menu2nav">
				<div class="appMap">
					<h4>App Map</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Today's Deals</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>
				<div class="divide"></div>
				<div class="help">
					<h4>Help & Settings</h4>
					<ul>
						<li><a href="#">English</a></li>
						<li><a href="#">Nigeria</a></li>
						<li><a href="#">Customer Service</a></li>
					</ul>
				</div>
			</nav>
			<div class="subMenu_2">
				<div class="signIn"><a href="/logout">log out</a></div>
				<img id="flag_1" class="google" src="{{ url_for('static', filename='images/uk.png') }}" alt="uk_flag">
				<select name="language" id="languages" class="lang_1">
					{% for lang in langs %}
					<option id="lang" value="{{ lang }}">{{ lang }}</option>
					{% endfor %}
				</select>
				<div class="menu_2Signin"><a href="#">{{ session.get("username") }}</a></div>
				<div class="cartContainer"><a href="#"><img class="cart" src="{{ url_for('static', filename='images/cart_2.png') }}" alt="cart"></a></div>
			</div>
			<div class="navContainer">
				<div class="userReg">
					<div><img class="unknownUser" src="{{ url_for('static', filename='images/unknown_user_2.png') }}" alt="unknown_user"></div>
					<a href="#">{{ first_name }} {{ last_name }}</a>
				</div>
				<nav>
					<div><h4>App Map</h4></div>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Today's Deals</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
					<div><h4>Help & Settings</h4></div>
					<ul>
						<li><a href="#">English</a></li>
						<li><a href="#">Nigeria</a></li>
						<li><a href="#">Customer Service</a></li>
					</ul>
				</nav>
				<div class="signIn"><a href="/logout">log out</a></div>
			</div>
		</div>
    </header>
	<main id="home">
		<div class="heroContainerHome">
			<div class="heroSlider">
				<div>hero slide</div>
			</div>
		</div>
		<div class="choices">
			<div class="choiceC">
				<h2>South Nigerian Cuisine</h2>
				<div class="choice-1">
					<div>
						<img src="{{ url_for('static', filename='images/isiewu2.png') }}" alt="isiewu">
						<div>Isi-ewu</div>
					</div>
					<div>
						<img src="{{ url_for('static', filename='images/olubu2.png') }}" alt="olubu">
						<div>Bitter-leaf Soup</div>
					</div>
					<div>
						<img src="{{ url_for('static', filename='images/pepperSoup2.png') }}" alt="pepper_soup">
						<div>Pepper Soup</div>
					</div>
					<div>
						<img src="{{ url_for('static', filename='images/offor2 .png') }}" alt="ofor_soup">
						<div>Ofor Soup</div>
					</div>
				</div>
			</div>
			<div class="choiceC">
				<h2>South Nigeria Cuisine</h2>
				<div class="choice-1">
					<div>
						<img src="{{ url_for('static', filename='images/isiewu2.png') }}" alt="isiewu">
						<div>Isi-ewu</div>
					</div>
					<div>
						<img src="{{ url_for('static', filename='images/olubu2.png') }}" alt="olubu">
						<div>Bitter-leaf Soup</div>
					</div>
					<div>
						<img src="{{ url_for('static', filename='images/pepperSoup2.png') }}" alt="pepper_soup">
						<div>Pepper Soup</div>
					</div>
					<div>
						<img src="{{ url_for('static', filename='images/offor2 .png') }}" alt="ofor_soup">
						<div>Ofor Soup</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
