{% extends "layout.html" %}

{% block body %}

    <div>
        <header>
            <div class="menu">
                <div><img class="headerLogo" src="{{ url_for('static', filename='images/specialEats_white.png') }}"></div>
                <div class="location">
                    <div class="navimage"><img class="navImage" src="{{ url_for('static', filename='images/navigator.png') }}" alt="navigator"></div>
                    <div class="navigate">
                        <div class="navText">Deliver to</div>
                        <div class="navText">Port Harcourt</div>
                    </div>
                </div>
                <div class="searchContainer">
                    <form action="#" class="search" method="get">
                        <select name="food" class="selector">
                            <option selected>All</option>
                            <option value="swallow">Swallow</option>
                            <option value="rice">Rice</option>
                            <option value="beans">Beans</option>
                            <option value="noodles">Noodles</option>
                            <option value="pasta">Pasta</option>
                        </select>
                        <input type="search" name="search" class="searchForm" autocomplete="off" placeholder="Search Special Eats">
                        <button type="submit" class="searchButton"><img class="google" src="{{ url_for('static', filename='images/google.png') }}" alt="search_google"></button>
                    </form>
                </div>
                <div class="menu_2Signin_2"><a href="#">Hello, sign in</a></div>
                <div class="flag_lang">
                    <img id="flag_2" src="{{ url_for('static', filename='images/uk.png') }}" alt="uk_flag">
                    <select name="language" id="languages_2" class="lang_2">
                        {% for lang in langs %}
                         <option id="lang_2" value="{{ lang }}">{{ lang }}</option>
           				{% endfor %}
                    </select>
                </div>
                <div class="cartContainerTwo"><img class="cart" src="{{ url_for('static', filename='images/cart_2.png') }}" alt="cart"></div>
            </div>
            <div class="menu_2">
                <input type="checkbox" id="menuCheck">
                <label for="menuCheck" class="menucheck">
                    <div class="hBuggerContainer">
                        <div class="hBugger"></div>
                    </div>
                </label>
                <nav class="menu2nav">
                    <div class="appMap">
                        <h4>App Map</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Today's Deals</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                    <div class="divide"></div>
                    <div class="help">
                        <h4>Help & Settings</h4>
                        <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Nigeria</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="subMenu_2">
                    <img id="flag_1" class="google" src="{{ url_for('static', filename='images/uk.png') }}" alt="uk_flag">
                    <select name="language" id="languages" class="lang_1">
						{% for lang in langs %}
                        <option id="lang" value="{{ lang }}">{{ lang }}</option>
          				{% endfor %}
                    </select>
                    <div class="menu_2Signin"><a href="#">Hello, sign in</a></div>
                    <div class="cartContainer"><img class="cart" src="{{ url_for('static', filename='images/cart_2.png') }}" alt="cart"></div>
                </div>
                <div class="navContainer">
                    <div class="userReg">
                        <div><img class="unknownUser" src="{{ url_for('static', filename='images/unknown_user_2.png') }}" alt="unknown_user"></div>
                        <a href="#">Hello, sign in</a>
                    </div>
                    <nav>
                        <div><h4>App Map</h4></div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Today's Deals</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                        <div><h4>Help & Settings</h4></div>
                        <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Nigeria</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </nav>
                    <div class="signIn"><a href="#">Sign in</a></div>
                </div>
            </div>
        </header>
        <main>
            <div class="hero">
                <div class="Hnoodle"><img class="heroNoodle" src="{{ url_for('static', filename='images/noodle.png') }}" alt="noogle_sample"></div>
                <div class="heroText textOne"><h1>Delicious Food Is Waiting For You</h1></div>
                <div class="heroOrder">
                    <input type="checkbox" id="check">
                    <label for="check" class="heroButton">Order</label>
                    <div class="access">
                        <div class="innerAccess">
                            <div><a href="#">Sign in</a>to create an account</div>
                            <div><a href="#">Login</a>to an already existing account</div>
                        </div>
                    </div>
                </div>
                <div class="herotext textTwo">Our team of professional and registered cheffs offer luxerious home service</div>
                <div class="Hbook">
                    <input type="checkbox" id="check-2">
                    <label for="check-2" class="heroButton-2">Book a Section</label>
                    <div id="section">
                        <form id="sectionForm" class="sectionForm" action="#" method="post">
                            <div><img class="formLogo" src="{{ url_for('static', filename='images/specialEats_1.png') }}"></div>
                            <div><h3>Kindly fill in your contact information</h3></div>
                            <div class="formText">First Name</div>
                            <div><input class="sectionform" type="text" name="first-name" autocomplete="off" autofocus required placeholder="First Name"></div>
                            <div class="formText">Last Name</div>
                            <div><input class="sectionform" type="text" name="last-name" autocomplete="off" required placeholder="Last Name"></div>
                            <div class="formText">State of Origin</div>
                            <div><input class="sectionform" type="text" name="soo" autocomplete="off" required placeholder="State of Origin"></div> 
                            <div class="formText">E-Mail</div>
                            <div><input class="sectionform" type="text" name="e-mail" autocomplete="off" placeholder="E-Mail" required></div>
                            <div class="formText">Phone</div>
                            <div><input class="sectionform" type="text" name="phone" autocomplete="off" placeholder="Phone (+234)" required></div>
                            <div><input class="button" type="submit" value="Submit"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="frequentOrder">
                <div class="frqHeader"><h1>Top List</h1></div>
                <div>Our most frequent orders</div>
                <div class="frqContainer">
                    <div class="frqItem frqOne">
                        <img src="{{ url_for('static', filename='images/jollof.PNG') }}" alt="jollof_rice">
                        <div class="rating">
                            <img src="{{ url_for('static', filename='images/star.png') }}" alt="star">
                            <div class="ratingText">9.1</div>
                        </div>
                        <div class="frqH">Jollof Rice</div>
                        <div class="frqText">Dark plate with grilled goat meat</div>
                    </div>
                    <div class="frqItemOfor">
                        <img src="{{ url_for('static', filename='images/ofor.png') }}" alt="afang_soup">
                        <div class="rating">
                            <img src="{{ url_for('static', filename='images/star.png') }}" alt="star">
                            <div class="ratingText">9.4</div>
                        </div>
                        <div class="frqH">Ofor Soup</div>
                        <div class="frqText">Stainless white bowl with assorted meats.</div>
                    </div>
                    <div class="frqItem frqTwo">
                        <img src="{{ url_for('static', filename='images/spagg.png') }}" alt="chow_mein">
                        <div class="rating">
                            <img src="{{ url_for('static', filename='images/star.png') }}" alt="star">
                            <div class="ratingText">8.5</div>
                        </div>
                        <div class="frqH">Chow mein</div>
                        <div class="frqText">Stir-fry of chow mein noodles in a leaf-shaped wooden plate.</div>
                    </div>
                </div>
            </div>
            <div class="shoutOut">
                <div class="sImage"><img class="shoutOutC" src="{{ url_for('static', filename='images/chim-chim.png') }}" alt="chim-chim"></div>
                <div class="shoutOutH"><h1>Best Ingredients For Chim-chim</h1></div>
                <div class="shoutOutT">Our golden-brown chim-chim is crafted from the finest ingredients; expertly fried to a crunchy perfection that keeps you coming back for more. Each bite delivers a savory kick with a hint of warmth and softness inside, making it the ultimate snack for work, hangouts, or just pure munch-time satisfaction.</div>
            </div>
            <div class="footer">
                <div><h2>Our Services</h2></div>
                <div class="footerT">
                    <div class="innerF">
                        <img src="{{ url_for('static', filename='images/smartphone.png') }}" alt="smart_phone">
                        <a href="#">Online booking</a>
                    </div>
                    <div class="innerF">
                        <img src="{{ url_for('static', filename='images/food-delivery.png') }}" alt="food_delivery">
                        <a href="#">Catering service</a>
                    </div>
                    <div class="innerF">
                        <img src="{{ url_for('static', filename='images/group-of-people.png') }}" alt="group_of_people">
                        <a href="#">Membership</a>
                    </div>
                </div>
            </div>
            <div class="sideNote">Another Masterpiece</div>
        </main>
    </div>

{% endblock %}
