{% extends "layout.html" %}

{% block body %}

    <div>
        <header>
            <div class="sideNote">Another Masterpiece</div>
            <div class="heading2">Hello, welcome</div>
        </header>
        <main>
            <div class="signupContainer">
                <form class="signupForm" action="#">
                	<div class="signupIntro">Sign up for an account to start enjoying our delicious meals</div>
                    <input autofocus class="signupInput" type="text" name="username" placeholder="create a username..." autocomplete="off">
					<input class="signupInput" type="text" name="first_name" placeholder="enter your first name..." autocomplete="off">
                    <input class="signupInput" type="text" name="last_name" placeholder="enter your last name..." autocomplete="off">
                    <input class="signupInput" type="text" name="d_o_b" placeholder="enter your date of birth..." autocomplete="off">  
					<input class="signupInput" type="password" name="password" placeholder="create a password..." autocomplete="off"> 
                    <div class="confirmContainer">
                    	<label for="signupCheck" class="signupcheck">Confirm<label>
					    <input type="checkbox" id="signupCheck">
						<div class="submitBlur">
							<div class="submitContainer">
		                    	<div class="submitContainer-2">
									<div>Before proceeding with account creation, please confirm your created password</div>
									<input class="signupInput" type="text" placeholder="confirm password" autocomplete="off" name="password_2">
									<div><input class="signupButton" type="submit" value="Sign up"></div>
		                    	<div>
		                    <div>
						</div>
                    </div>
                </form>
            </div>
        </main>
    </div>

{% endblock %}
