{% extends "layout.html" %}

{% block body %}

        <div id="z"><img src="{{ url_for('static', filename='animated_icons/foodCarousel.gif') }}" alt="food_carousel"></div>
        <div class="z">
            <div class="cartCont">
                <header><div>Cart Area</div><img src="{{ url_for('static', filename='images/specialEats_white.png') }}" alt="sp_logo"></header>
                <main>
                    <div class="addNot"></div>
                    <div class="sCuisine-cont">
                        {% for meal in cart_meals %}
                        <div class="pands">
                            <div class="payFor"><input class="sCheck" id="sCheck{{ meal.id }}" type="checkbox" data-x="{{ meal.id }}" value="{{ meal.price }}"><label for="sCheck{{ meal.id }}"></label></div>
                            <div class="sCuisine">
                                <img src="{{ url_for('static', filename=meal.url or 'food_images/food-placeholder.jpeg') }}" alt="{{ meal.name }}">
                                <div class="one">
                                    <div>
                                        <div class="name">{{ meal.name }}</div>
                                        <div class="price">$<span>{{ meal.price }}</span></div>
                                    </div>
                                    <form class="rmvFrm" action="/remove" method="post">
                                        <input name="meal_id" type="hidden" value="{{ meal.id }}">
                                        <button type="submit" class="b"><span><img class="b1" src="{{ url_for('static', filename='animated_icons/trailLoading.gif') }}" alt="loading"></span><span class="b2">Remove from cart</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="eCart"><img src="{{ url_for('static', filename='images/emptyCart.png') }}" alt="empty_cart"></div>
                </main>
                <footer>
                    <form action="#">
                        <input id="checkoutT" type="hidden">
                        <div class="checkout">
                        	<div class="sAll"><input type="checkbox" id="sAll"><div>All</div></div>
                        	<div>
                        		<div class="price">$<span id="tPrice">0</span></div>
                        		<button type="submit" class="quantity">Checkout (<span>0</span> )</button>
                        	</div>
                        </div>
                    </form>
                    <div class="footer-h">
                        <div>
                            <img src="{{ url_for('static', filename='images/smartphone.png') }}" alt="smart_phone">
                            <a href="#">Online booking</a>
                        </div>
                        <div>
                            <img src="{{ url_for('static', filename='images/food-delivery.png') }}" alt="food_delivery">
                            <a href="#">Catering service</a>
                        </div>
                        <div>
                            <img src="{{ url_for('static', filename='images/group-of-people.png') }}" alt="group_of_people">
                            <a href="#">Membership</a>
                        </div>
                    </div>
                    <div class="rights">&copy; 2025, Special Eats, Inc. or its affiliates</div>
                    <div class="sideNote">Another Masterpiece</div>
                </footer>
            </div>
        </div>

{% endblock %}
