{% extends "layout.html" %}

{% block body %}

    <header class="cArea">
        <div>Checkout Area</div><img src="{{ url_for('static', filename='images/specialEats_white.png') }}" alt="sp_logo">
    </header>
    <main class="checkoutMain">
        <div class="addNot"></div>
        <div class="addyBG">
            <a href="/profile">
                <div id="addy-ph">add an address</div>
                <div id="addy">{{ address }}</div>
            </a>
            <img src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="right_arrow">
        </div>
		<div class="shipping">
			<div class="x">Shipping method</div>
			<div>
				<div class="y">Shipping: <span class="freeShip">Free shipping</span><span class="paidPrice">${{ paidShip }}</span></div>
				<div>Delivery: mm-dd-yyyy</div>
            </div>
		</div>
        <div>Item details</div>
		<div class="inCheckout">
			{% for meal in co %}
                <div class="checkoutItemCont">
                    <img src="{{ url_for('static', filename=meal) }}" alt="{{ meal }}">
                    <div class="count">
                        <div>{{ co[meal] }}</div>
                    </div>
                </div>
			{% endfor %}
		</div>
        <div class="paymentM">
            <div class="x">Payment method</div>
            <div class="y">
                <a href="/profile">
                    <div id="card-ph">Add payment method</div>
                    <div id="card">{{ card }}</div>
                    <img src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="right_arrow">
                </a>
            </div>
        </div>
        <div class="summary">
            <div class="x">Summary</div>
            <div class="y">
                <div>Subtotal</div>
                <div class="one two">$<span id="tPrice">{{ tPrice }}</span></div>
            </div>
            <div class="y">
                <div>Shipping fee</div>
                <div class="freeShip two">free</div>
                <div class="paidPrice">$<span id="paidPrice">{{ paidShip }}</span></div>
            </div>
        </div>
        <div class="paynow">
            <div>Total: <span>US $</span><span id="total"></span></div>
            <input type="checkbox" id="success">
            <label for="success">Pay now</label>
            <div class="success">
                <div class="innerSuccess"><div>You've successfully placed your order</div><a href="/"><button>Done</button></a></div>
            </div>
        </div>
    </main>

{% endblock %}
