{% extends "layout.html" %}

{% block body %}

    
    <div>
        <div class="banner">
            <img src="{{ url_for('static', filename='pfp_images/dark-banner.png') }}" alt="pfp_banner">
            <div class="pfpLogo"><img src="{{ url_for('static', filename='pfp_images/specialEats_1.png') }}" alt="special_eats_logo"></div>
            <div><a href="/"><img src="{{ url_for('static', filename='pfp_images/left-arrow.png') }}" alt="left_arrow"></a></div>
            <div class="pfp">
                <div><img src="{{ url_for('static', filename='pfp_images/unknown_user_2.png') }}" alt="pfp"></div>
                <div class="editPfp"><img src="{{ url_for('static', filename='pfp_images/edit-pen2-w.png') }}" alt="edit_pen"></div>
                <div class="pfpName">{{ first_name }} {{ last_name }}</div>
                <div class="pfpText">@{{ username }}</div>
                <div class="pfpText"><a href="#">Edit Profile</a></div>
            </div>
        </div>
        <div class="notice"><a href="#"><img src="{{ url_for('static', filename='pfp_images/notice.png') }}" alt="notice"></a></div>
    </div>
    
    <main class="profile">
        <div class="forMail">
            <div class="pfp2">
                <div><img src="{{ url_for('static', filename='pfp_images/unknown_user_2.png') }}" alt="pfp"></div>
                <div class="editPfp"><img src="{{ url_for('static', filename='pfp_images/edit-pen2-w.png') }}" alt="edit_pen"></div>
                <div class="pfpName">{{ first_name }} {{ last_name }}</div>
                <div class="pfpText">@{{ username }}</div>
                <div class="pfpText"><a href="#">Edit Profile</a></div>
            </div>
            <div class="mail"><img src="{{ url_for('static', filename='pfp_images/mail.png') }}" alt="mail_img"> <span>example@email.com</span></div>
            <div class="recommendC">
                <div>Favorites</div>
                <div class="recommend">
                    <img src="{{ url_for('static', filename='food_images/chim-chim-w.png') }}" alt="chim-chim">
                    <img src="{{ url_for('static', filename='food_images/ugba-w.png') }}" alt="ugba">
                    <img src="{{ url_for('static', filename='food_images/suya-w.png') }}" alt="suya">
                    <img src="{{ url_for('static', filename='food_images/ewedu-w.png') }}" alt="ewedu">
                </div>
            </div>
        </div>
        <div class="orderDetails">
            <div class="myOrder" id="order">
                <div class="myOrderH">My Orders</div>
                <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/pending.png') }}" alt="pending_payment"><a href="#">To Pay</a></div><a href="#"><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></a></div>
                <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/parcel.png') }}" alt="pending_shipment"><a href="#">To Ship</a></div><a href="#"><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></a></div>
                <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/delivery.png') }}" alt="shipped"><a href="#">Shipped</a></div><a href="#"><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></a></div>
                <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/review.png') }}" alt="user_review"><a href="#">To Review</a></div><a href="#"><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></a></div>
                <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/returned.png') }}" alt="returned"><a href="#">Returns</a></div><a href="#"><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></a></div>
                <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/cart.png') }}" alt="cart"><a href="#"><span class="orderN">0</span> Orders</a></div><a href="#"><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></a></div>
            </div>
            <div class="myOrder" id="settings">
                <div class="myOrderH">Account Settings</div>
                <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/payment.png') }}" alt="payment"><a href="#">Payment Methods</a></div><a href="#"><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></a></div>
                <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/nav.png') }}" alt="address"><a href="#">Address</a></div><a href="#"><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></a></div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-h">
            <div>
                <img src="{{ url_for('static', filename='images/smartphone.png') }}" alt="smart_phone">
                <a href="#">Online booking</a>
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/food-delivery.png') }}" alt="food_delivery">
                <a href="#">Catering service</a>
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/group-of-people.png') }}" alt="group_of_people">
                <a href="#">Membership</a>
            </div>
        </div>
        <div class="rights">&copy; 2025, Special Eats, Inc. or its affiliates</div>
        <div class="sideNote">Another Masterpiece</div>
    </footer>
{% endblock %}