{% extends "layout.html" %}

{% block body %}

    <div id="z"><img src="{{ url_for('static', filename='animated_icons/foodCarousel.gif') }}" alt="food_carousel"></div>    
    <div class="z">
        <div>
            <div class="banner">
                <img src="{{ url_for('static', filename='pfp_images/colorful-banner.png') }}" alt="pfp_banner">
                <div class="pfpLogo"><img src="{{ url_for('static', filename='pfp_images/specialEats_white.png') }}" alt="special_eats_logo"></div>
                <div class="editPfp"><img src="{{ url_for('static', filename='pfp_images/edit-tool-w.png') }}" alt="edit_pen"></div>
                <div class="pfp">
                    <div><img src="{{ url_for('static', filename='pfp_images/unknown_user_2.png') }}" alt="pfp"></div>
                    <div class="editPfp"><img src="{{ url_for('static', filename='pfp_images/edit-pen2-w.png') }}" alt="edit_pen"></div>
                    <div class="pfpName">{{ first_name }} {{ last_name }}</div>
                    <div class="pfpText u">@{{ username }}</div>
                </div>
            </div>
            <input type="checkbox" id="pfpChange">
            <div class="pfpText"><label class="a" for="pfpChange">Edit Profile</label></div>
            <div class="addNotCont"></div>
            <div class="editInfo-bg">
                <div class="editInfo">
                    <h3>Edit Profile</h3>
                    <form id="editpfpForm" action="/profile" method="post">
                        <div class="t">Username</div>
                        <input type="text" name="username" value="{{ username }}" placeholder="username" autocomplete="off" autofocus>
                        <div class="hLine"></div>
                        <div class="t">First Name</div>
                        <input type="text" name="first_name" value="{{ first_name }}" placeholder="First Name" autocomplete="off">
                        <div class="hLine"></div>
                        <div class="t">Last Name</div>
                        <input type="text" name="last_name" value="{{ last_name }}" placeholder="Last Name" autocomplete="off">
                        <div class="hLine"></div>
                        <div class="t">Gender</div>
                        {% for gender in genders %}
                        <input type="radio" name="gender" value="{{ gender }}"><span>{{ gender }}</span>
                        {% endfor %}
                        <div class="hLine"></div>
                        <div class="t">Email</div>
                        <input type="text" name="e_mail" value="{{ e_mail }}" placeholder="example@email.com" autocomplete="off">
                        <div class="hLine"></div>
                        <input class="editpfpB" type="submit" value="Save">
                    </form>
                </div>
            </div>
            <div class="notice"><a href="#"><img src="{{ url_for('static', filename='pfp_images/notice.png') }}" alt="notice"></a></div>
        </div>
        <main class="profile">
            <div class="forMail">
                <div class="pfp2">
                    <div><img src="{{ url_for('static', filename='pfp_images/unknown_user_2.png') }}" alt="pfp"></div>
                    <div class="editPfp"><img src="{{ url_for('static', filename='pfp_images/edit-pen2-w.png') }}" alt="edit_pen"></div>
                    <div class="pfpName">{{ first_name }} {{ last_name }}</div>
                    <div class="pfpText u">@{{ username }}</div>
                    <div class="pfpText"><label class="a" for="pfpChange">Edit Profile</label></div>
                </div>
                <div class="mail"><img src="{{ url_for('static', filename='pfp_images/mail.png') }}" alt="mail_img"> {{ e_mail }}</div>
                <div class="recommendC">
                    <div>Favorites</div>
                    <div class="recommend">
                        <img src="{{ url_for('static', filename='food_images/chim-chim-w.png') }}" alt="chim-chim">
                        <img src="{{ url_for('static', filename='food_images/ugba-w.png') }}" alt="ugba">
                        <img src="{{ url_for('static', filename='food_images/suya-w.png') }}" alt="suya">
                        <img src="{{ url_for('static', filename='food_images/ewedu-w.png') }}" alt="ewedu">
                    </div>
                </div>
            </div>
            <div class="orderDetails">
                <div class="myOrder" id="order">
                    <div class="myOrderH">My Orders</div>
                    <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/pending.png') }}" alt="pending_payment">To Pay</div><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></div>
                    <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/parcel2.png') }}" alt="pending_shipment">To Ship</div><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></div>
                    <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/delivery.png') }}" alt="shipped">Shipped</div><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></div>
                    <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/review.png') }}" alt="user_review">To Review</div><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></div>
                    <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/returned.png') }}" alt="returned">Returns</div><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></div>
                    <div class="orderInfo"><div><img src="{{ url_for('static', filename='pfp_images/cart.png') }}" alt="cart"><span class="orderN">{{ n }}</span>Orders</div><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></div>
                </div>
                <div class="myOrder" id="settings">
                    <div class="myOrderH">Account Settings</div>
                    <input type="checkbox" id="forPayment">
                    <div class="orderInfo" id="payment"><label for="forPayment"><div><img src="{{ url_for('static', filename='pfp_images/payment.png') }}" alt="payment"> Payment Methods</div><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></label></div>
                    <div>
                        <form class="payVia" action="/profile" method="post">
                            <div>Card Details</div>
                            <div>Note: <span>This is a prototype app, do not enter real card details.</span></div>
                            <input name="card" value="{{ card }}" class="card" type="number" placeholder="0000 0000 0000 0000" autocomplete="off">
                            <input type="submit" value="Done">
                        </form>
                    </div>
                    <input type="checkbox" id="forAddress">
                    <div class="orderInfo" id="address"><label for="forAddress"><div><img src="{{ url_for('static', filename='pfp_images/locate.png') }}" alt="address"> Address</div><img class="rightArrow" src="{{ url_for('static', filename='pfp_images/right-arrow.png') }}" alt="right-arrow"></label></div>
                    <div>
                        <form class="to" action="profile">
                            <div>Delivery Address</div>
                            <div>Address</div>
                            <textarea name="address" id="addy" autocomplete="off" autofocus placeholder="enter your full address starting with state">{{ address }}</textarea>
                            <input type="submit" value="Done">
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-h">
                <div>
                    <img src="{{ url_for('static', filename='images/smartphone.png') }}" alt="smart_phone">
                    <a href="#">Online booking</a>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='images/food-delivery.png') }}" alt="food_delivery">
                    <a href="#">Catering service</a>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='images/group-of-people.png') }}" alt="group_of_people">
                    <a href="#">Membership</a>
                </div>
            </div>
            <div class="rights">&copy; 2025, Special Eats, Inc. or its affiliates</div>
            <div class="sideNote">Another Masterpiece</div>
        </footer>
    </div>

{% endblock %}