* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.sideNote {
	background: green;
	width: 170px;
	text-align: center;
	border-radius: 15px;
	padding: 2px;
	margin: 3px;
}
#input {
	margin: 3px;
	padding: 3px;
}
