{% extends "layout.html" %}

{% block body %}


	<header>
		<div class="sideNote">Another Masterpiece</div>
	</header>
	<main>
		<div>
			<input id="input" type="text" autocomplete="off" placeholder="enter title">
			<table>
				<thead>
					<tr>
						<td>id</td><td>Title</td><td>Year</td>
					</tr>
				</thead>
				<tbody id="tBody">
						<!--this is where the retrieved API resources go-->
				</tbody>
			</table>
			<div>
				<div class="hidden">
					<div class="title">click the checkbox!</div>
					<input id="checkBox" type="checkbox">
					<div class="info">today's your lucky day.</div>
				</div>
			</div>
			<div class="poolContainer">
				<div class="total">Balance: $<span class="bal">0</span></div>
				<div class="r">0</div>
				<button class="spinBtn"><span id="load">loading...</span><span id="spin">Spin</span></button>
			</div>
		</div>
	</main>

{% endblock %}
