@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Poppins", sans-serif;
}

.sideNote {
    color: green;
    font-size: smaller;
    text-align: right;
    background-color: lightgray;
}
header {
    background-color: darkslategray;
    padding-bottom: 2px;
}
.menu {
    background-color: rgb(18, 34, 70);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
}
.location {
    display: flex;
    gap: 10px;
    align-items: center;
}
.menu_2 {
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.menu_2Signin a:hover {
    text-decoration: underline;
}
.subMenu_2 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}
.signIn {
    margin-top: 20px;
    padding: 7px;
    width: 80px;
    border-radius: 10px;
}
.signIn:hover {
    color: green;
}
.headerLogo {
    width: 60px;
}
#menuCheck {
    display: none;
}
.menucheck {
    display: inline-block;
}
.navigate {
    color: white;
    margin-left: -7px;
}
.navigate .navText:nth-child(1) {
    font-size: smaller;
}
.navImage {
    width: 15px;
}
.navimage {
    margin-top: 10px;
}
.google {
    width: 18px;
    height: 17px;
}
.cart {
    margin-top: 8px;
    width: 40px;
    cursor: pointer;
}
.unknownUser {
    width: 40px;
}
.hBuggerContainer {
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 8px;
    padding-left: 12px;
    padding-top: 10px;
    border-radius: 7px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}
.hBuggerContainer:hover {
    background-color: rgba(0, 0, 200, 0.2);
}
.hBugger {
    background-color: white;
    height: 3px;
    width: 15px;
    top: 2px;
    position: relative;
}
.hBugger::before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 5px;
    right: 0;
    width: 100%;
    height: 100%;
}
.hBugger::after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
}
.navContainer {
    position: absolute;
    background-color: white;
    top: 114px;
    right: 0;
    height: auto;
    width: 300px;
    left: -315px;
    transition: 0.3s;
    padding-left: 15px;
    z-index: 100;
    overflow-y: auto; 
}
#menuCheck:checked ~ .navContainer {
    left: 0;
}
nav ul {
    list-style: none;
    display: grid;
    gap: 20px;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    padding: 7px;
    border-radius: 7px;
    font-size: medium;
}
nav ul a:hover {
    background-color: rgba(18, 34, 70, 0.342);
}
.userReg {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: green;
    font-size: larger;
    font-weight: bold;
    margin-left: -15px;
    padding-left: 15px;
    color: white;
    padding: 15px;
}
h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    color:rgb(18, 34, 70);
    margin-top: -13px;
}
.searchButton {
    padding: 6px;
    background-color: green;
    border: 2px solid green;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 0.1s;
    cursor: pointer;
}
.searchButton:hover {
    background-color: rgb(2, 65, 2);
    border: 2px solid rgb(2, 65, 2);
}
.searchForm {
    padding: 9px;
    outline: none;
    width: 100%;
}
.search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid white;
}
.selector {
    padding: 9px;
    width: 55px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: none;
}
.hero {
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "heroOne"
    "heroTwo"
    "heroThree"
    "heroFour"
    "heroFive";
}
.heroNoodle {
    width: 450px;
    margin-top: -100px;
    margin-bottom: -130px;
}
.heroText {
    width: 40%;
    margin: auto;
}
.heroButton {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    margin: 30px;
    color: white;
    background-color: green;
    border: 2px solid green;
    font-weight: bolder;
    cursor: pointer;
    display: inline-block;
}
.heroButton:hover {
    background-color: rgb(2, 65, 2);
    border: 2px solid rgb(2, 65, 2);
}
#check {
    display: none;
}
.access {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.616);
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    padding-top: 300px;
    display: none;
    z-index: 500;
}
.innerAccess {
    background-color: rgb(18, 34, 70);
    display: grid;
    gap: 25px;
    width: 300px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    color: white;
}
.innerAccess a {
    text-decoration: underline;
}
#check:checked ~ .access{
    display: block;
}
.herotext {
    width: 50%;
    margin: auto;
    font-weight: bold;
}
.heroButton-2 {
    background-color: orange;
    border: none;
    padding: 10px;
    width: 170px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.heroButton-2:hover {
    background-color: rgb(156, 107, 16);
}
#check-2:checked ~ .access{
    display: block;
}
#check-2 {
    display: none;
}
.sectionForm {
    display: grid;
    gap: 10px;
    background-color: orange;
    width: 250px;
    padding: 30px;
    margin: auto;
    border-radius: 15px;
}
.sectionform {
    padding: 10px;
    border-radius: 15px;
}
.button {
    padding: 8px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(18, 34, 70);
    opacity: 0.8;
    border: none;
    color: white;
    cursor: pointer;
}
.button:hover {
    opacity: 1;
}
.formLogo {
    width: 100px;
}
.formText {
    text-align: left;
    margin-left: 35px;
    font-size: small;
    font-weight: bold;
    margin-bottom: -5px;
}
.frequentOrder {
    margin-top: 4rem;
    text-align: center;
    display: grid;
    gap: 5px;
}
.frqHeader {
    width: 50%;
    margin: auto;
    text-align: center;
}
.frqContainer {
    display: grid;
    gap: 20px;
    height: 950px;
    padding-bottom: 20px;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "frqOne"
    "frqTwo"
    "frqThree";
}
.frqItem img {
    width: 200px;
}
.frqItem {
    width: 200px;
    margin: auto;
    margin-top: 15px;
    height: 250px;
    position: relative;
}
.frqItem::after {
    position: absolute;
    content: "";
    top: 35px;
    right: 0;
    height: 105%;
    width: 100%;
    background-color: rgba(18, 34, 70, 0.185);
    z-index: -1;
    border-radius: 40px;
}
.frqItemOfor {
    width: 270px;
    margin: auto;
    margin-top: 30px;
    height: 300px;
    position: relative;
}
.frqItemOfor::after {
    position: absolute;
    content: "";
    top: 35px;
    right: 0;
    height: 105%;
    width: 100%;
    background-color: rgba(18, 34, 70, 0.185);
    z-index: -1;
    border-radius: 40px;
}
.frqItemOfor img {
    margin-top: -40px;
    width: 230px;
    margin-bottom: -28px;
}
.frqH {
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
}
.frqText {
    font-size: small;
    margin: 3px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
}
.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 25px;
    padding-bottom: 3px;
}
.rating img {
    width: 25px;
}
.shoutOut {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "fOne"
    "fTwo"
    "fThree";
}
.shoutOutH {
    /* font-size: Large; */
    text-align: center;
}
.shoutOutC {
    margin-top: -25px;
    width: 400px;
    margin-bottom: -40px;
}
.shoutOutT {
    width: 400px;
    margin: auto;
    margin-top: 30px;
    font-weight: bold;
}
.footer {
    display: grid;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-image: linear-gradient(gray, lightgray);
}
h2 {
    text-align: center;
}
.footerT {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    flex-flow: row wrap;
}
.footerT a:hover {
    background-color: rgba(250, 250, 250, 0.4);
}
.footerT img {
    width: 30px;
}
.innerF {
    display: flex;
    align-items: center;
}

/* grid-area assignment for hero section */
.hero .Hnoodle {
    grid-area: heroOne;
}
.hero .textOne {
    grid-area: heroTwo;
}
.hero .heroOrder {
    grid-area: heroThree;
}
.hero .textTwo {
    grid-area: heroFour
} 
.hero .Hbook {
    grid-area: heroFive;
}

/* grid-area assignment for freqent order section */
.frqContainer .frqOne {
    grid-area: frqOne;
}
.frqContainer .frqItemOfor {
    grid-area: frqTwo;
}
.frqContainer .frqTwo {
    grid-area: frqThree;
}

/* grid-area assignment for shout-out section */
.shoutOut .sImage {
    grid-area: fOne;
}
.shoutOut .shoutOutH {
    grid-area: fTwo;
}
.shoutOut .shoutOutT {
    grid-area: fThree;
}

.cartContainerTwo {
    display: none;
    position: relative;
}
.cartContainerTwo::after {
    content: "0";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: red;
    color: white;
    border-radius: 50%;
    top: 5px;
    left: 0;
    font-size: small;
    text-align: center;
    padding-top: 3px;
    padding-right: 1.1px;
}
.menu_2Signin_2 a:hover {
    text-decoration: underline;
}
.menu_2Signin_2 {
    display: none;
    color: white;
}
.flag_lang {
    display: flex;
    gap: 8px;
}
#flag_2 {
    width: 18px;
    height: 17px;
    display: none;
}
.lang_2 {
    display: none;
}
.appMap {
    display: flex;
    gap: 10px;
}
.help {
    display: flex;
    gap: 10px;
}
.menu2nav {
    display: none;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.appMap ul {
    display: flex;
    align-items: center;
}
.help ul {
    display: flex;
    align-items: center;
}
.appMap h4 {
    color: rgb(18, 34, 70);
}
.help h4 {
    color: rgb(18, 34, 70);
}

/* menu reaangement */
@media(min-width: 550px) {
    .cartContainer {
        display: none;
    }
    .cartContainerTwo {
        display: block;
    }
}
@media(min-width: 700px) {
    .menu_2Signin {
        display: none;
    }
    .menu_2Signin_2 {
        display: block;
    }
    .frqContainer {
        height: 750px;
        gap: 0;
        grid-template-areas: 
        'frqTwo frqTwo'
        'frqOne frqThree';
    }
}
@media(min-width: 1000px) {
    .lang_1 {
        display: none;
    }
    .lang_2 {
        display: block;
    }
    #flag_1 {
        display: none;
    }
    #flag_2 {
        display: block;
    }
    .menu2nav {
        display: flex;
    }
    .hBuggerContainer {
        display: none;
    }
    .divide {
        height: 50px;
        width: 1px;
        background-color: rgb(18, 34, 70);
        margin-left: 20px;
        margin-right: 20px;
    }
    .hero {
        margin-top: 40px;
        grid-template-areas: 
        "heroTwo heroOne"
        "heroThree heroOne"
        "heroFour heroOne"
        "heroFive heroOne";
    }
    .hero .Hnoodle {
        grid-area: heroOne;
        padding-right: 40%;
    }
    .hero .textOne {
        grid-area: heroTwo;
        padding-left: 30%;
    }
    .hero .heroOrder {
        grid-area: heroThree;
        padding-left: 30%;
    }
    .hero .textTwo {
        grid-area: heroFour;
        padding-left: 30%;
    } 
    .hero .Hbook {
        grid-area: heroFive;
        padding-left: 30%;
    }
    .frqContainer {
        grid-template-areas: 
        'frqOne frqTwo frqThree';
        height: 350px;
    }
    .shoutOut {
        margin-top: 30px;
        grid-template-areas: 
        "fOne fTwo"
        "fOne fThree";
    }
    .shoutOut .shoutOutH {
        padding-top: 100px;
        grid-area: fTwo;
    }
    .shoutOut .shoutOutT {
        margin-top: -180px;
        grid-area: fThree;
    }
}
