@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.sideNote {
	background-color: black;
	color: white;
	padding: 5px;
	font-size: small;
	margin-bottom: 5px;
	width: 100%;
}
header h3 {
	padding: 5px;
	width: 50%;
	margin: auto;
	background-color: gray;
	border-radius: 10px; 
	text-align: center;
	color: white;
}
.counterT {
	color: white;
	font-size: xx-large;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.counter {
	position: absolute;
	color: white;
	font-size: xxx-large;
	top: 40%;
	left: 44.5%;
}
.front {
	position: absolute;
	background-color: green;
	height: 100%;
	width: 50%;
	right: 0;
	font-size: xxx-large;
	font-weight: bolder;
	display: grid;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
}
.back {
	position: absolute;
	background-color: red;
	height: 100%;
	width: 50%;
	font-size: xxx-large;
	font-weight: bolder;
	display: grid;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
}
.counterC ~ h3 {
	background-color: blue;
	width: 270px;
	padding: 5px;
	margin: auto;
	color: white;
	text-align: center;
	margin-top: 5px;
}
.counterC + div {
	margin: auto;
	margin-top: 5px;
	width: 300px;
	font-weight: bold;
}
.save {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	color: white;
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 10px;
	cursor: pointer;
}
#total2 {
	width: 298px;
	font-weight: bold;
	color: green;
	margin: auto;
}
.humanDog {
	margin-top: 10px;
	text-align: center;
	background-color: black;
	display: grid;
	padding: 10px;
	justify-content: center;
	gap: 5px;
}
.humanDog h3 {
	color: white;
}
#human {
	padding: 5px;
}
#human + div {
	color: white;
}
#human + div span {
	color: green;
}
.ratio {
	color: red;
}
.ratio + div {
	color: white;
	background-color: gray;
	padding: 5px;
	width: fit-content;
}
.calcC {
	margin: 20px;
	text-align: center;
}
.calc {
	background-color: black;
	width: fit-content;
	margin: auto;
}
.calc input {
	padding: 5px;
	text-align: right;
	font-weight: bolder;
	background-color: black;
	color: white;
}
.buttons {
	margin: 5px;
	display: grid;
	gap: 3px;
	grid-template-columns: repeat(4, 1fr);
}
.buttons button {
	cursor: pointer;
	aspect-ratio: 1;
	border-radius: 20px;
	font-weight: bolder;
}
#action {
	background-color: orange;		
}
.actionM {
	background-color: gray;
}
.equal {
	background-color: lightgreen;
}
/* blackcard game styling */

.jackC {
	outline: 1px solid black;
	margin-top: 10px;
}
#testBlock {
	background: black;
	color: white;
	padding: 20px;
	text-align: center;
}
/*test2.html specific stylings*/
#test2HTML {
	box-sizing: border-box;
}
#test2HTML::-webkit-scrollbar {
	display: none;
}
.item {
	position: relative;
}
.menu nav {
	display: flex;
	gap: 20px;
	height: 50px;
	align-items: center;
	justify-content: flex-end;
}
.menu {
	position: absolute;
	margin-top: -5px;
	width: 100%;
	padding: 5px;
	backdrop-filter: blur(2px);
	z-index: 100;
}
a {
	text-decoration: none;
	color: white;
}
nav a {
	padding: 5px;
	border-radius: 20px;
	transition: 0.3s;
}
nav a:hover {
	background: rgba(173, 216, 230, 0.438);
	color: white;
}
.textArea {
	position: absolute;
	top: 350px;
	width: 50%;
	margin-left: 10px;
}
.textH {
	color: coral;
	font-size: xx-large;
	font-weight: bolder;
}
.text {
	color: white;
	font-size: small;
}
.text ~ button {
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
}
.item img {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
	flex: 1 0 auto;
}
.faq {
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	background-color: transparent;
	color: white;
	cursor: pointer;
}
.thumbnail {
	top: 75%;
	padding-left: 66%;
	position: absolute;
	display: flex;
	gap: 10px;
	padding-bottom: 75px;
	z-index: 2;
}
.item2 {
	overflow: hidden;
	width: 175px;
	border-radius: 25px;
	position: relative;
}
.item2 img {
	height: 220px;
	width: 300px;
	flex: 1 0 auto;
}
.textH2 {
	margin-left: 10px;
	color: white;
	position: absolute;
	top: 80%;
}
.text2 {
	position: absolute;
	margin-left: 10px;
	font-size: smaller;
	color: white;
	font-family: monospace;
	top: 88%;
}
.arrow {
	position: absolute;
	top: 85%;
	display: flex;
	margin-left: 40%;
	gap: 10px;
}
.arrow button {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background-color: gray;
	border: 0px;
	opacity: 0.7;
	color: white;
	cursor: pointer;
	font-weight: bolder;
	z-index: 2;
	transition: 0.2s;
}
.arrow button:hover {
	opacity: 1;
	background: white;
	color: black;
}
.list .item:nth-child(1) {
	z-index: 1;
}
.list .item:nth-child(1) .textH, .list .item:nth-child(1) .text,
.list .item:nth-child(1) button {
	transform: translateY(50px);
	filter: blur(3px);
	opacity: 0;
	animation: showContent 0.4s 1s linear 1 forwards;
}
@keyframes showContent {
	to {
		opacity: 1;
		filter: blur(0);
		transform: translateY(0);
	}
}
.list .item:nth-child(1) .textH {
	animation-delay: 0.5s;
}
.list .item:nth-child(1) button {
	animation-delay: 1.4s;
}

.list.next .item:nth-child(1) img {
	width: 175px;
	height: 220px;
	left: 66%;
	top: 715px;
	border-radius: 25px;
	animation: showImage 0.3s linear 1 forwards;
}
@keyframes showImage {
	to {
		width: 100%;
		height: 100vh;
		left: 0;
		top: 0;
		border-radius: 0;
	}
}
.thumbnail.next {
	padding-left: 75%;
	animation: moveThumbnailLeft 0.5s linear 1 forwards;
}
@keyframes moveThumbnailLeft {
	to {
		padding-left: 66%;
	}
}
.list.prev .item:nth-child(2) {
	z-index: 2;
}
.list.prev .item:nth-child(2) img {
	right: 0;
	bottom: 0;
	top: 0;
	animation: shrinkImage 0.5s linear 1 forwards;
}
@keyframes shrinkImage {
	to {
		top: 715px;
		height: 220px;
		width: 175px;
		border-radius: 25px;
		right: 20%;
		opacity: 0;
	}
}
.thumbnail.prev .item2:nth-child(1) {
	opacity: 0;
	animation: expandImage 0.8s linear 1 forwards;
}
.thumbnail.prev {
	transform: translateX(-180px);
	animation: moveThumbnailRight 0.2s linear 1 forwards;
}
@keyframes moveThumbnailRight {
	to {
		transform: translateX(0);
	}
}
@keyframes expandImage {
	to {
		opacity: 1;
	}
}
.list.prev .item:nth-child(2) .textArea {
	animation: contentOut 0.5s linear 1 forwards;
}
@keyframes contentOut {
	to {
		transform: translateY(-200px);
		opacity: 0;
	}
}
.list.prev .textArea button, .list.next .textArea button {
	pointer-events: none;
}
.timer {
	position: fixed;
	width: 0;
	top: 0;
	background-color: orange;
	height: 4px;
	z-index: 101;
}
.list.prev + .timer, .list.next + .timer {
	width: 100%;
	animation: timeStamp 2s linear 1 forwards;
}
@keyframes timeStamp {
	to {
		width: 0;
	}
}
@media screen and (max-width: 678px) {
	.list .item {
		width: 100vw;
	}
}
