@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Poppins", sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
.sideNote {
    color: green;
    font-size: smaller;
    text-align: right;
    background-color: lightgray;
}
.errorpage {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    width: 50%;
}
.errorpage a {
    color: darkslategray;
}
header {
    background-color: darkslategray;
    padding-bottom: 2px;
}
.menu {
    background-color: rgb(18, 34, 70);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
}
.location {
    display: flex;
    gap: 10px;
    align-items: center;
}
.searchContainer {
	flex: 3 0 auto;
}
.menu_2 {
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.menu_2Signin a:hover {
    text-decoration: underline;
}
.menu_2Signin {
    display: none;
}
.menu_2Signin_2 a:hover {
    text-decoration: underline;
}
.menu_2Signin_2 {
    display: none;
    color: white;
}
.subMenu_2 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}
.signIn {
    margin-top: 20px;
    padding: 7px;
    width: 80px;
    border-radius: 10px;
}
.signIn:hover {
    color: green;
}
.userReg div:nth-child(2) div {
    color: rgb(18, 34, 70);
}
.headerLogo {
    width: 60px;
}
#menuCheck {
    display: none;
}
.menucheck {
    display: inline-block;
}
.navigate {
    color: white;
    margin-left: -7px;
}
.navigate .navText:nth-child(1) {
    font-size: smaller;
}
.navImage {
    width: 15px;
}
.navimage {
    margin-top: 10px;
}
.google {
    width: 18px;
    height: 17px;
}
.cart {
    margin-top: 8px;
    width: 40px;
    cursor: pointer;
}
.unknownUser {
    width: 40px;
}
.hBuggerContainer {
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 8px;
    padding-left: 12px;
    padding-top: 10px;
    border-radius: 7px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}
.hBuggerContainer:hover {
    background-color: rgba(0, 0, 200, 0.2);
}
.hBugger {
    background-color: white;
    height: 3px;
    width: 15px;
    top: 2px;
    position: relative;
}
.hBugger::before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 5px;
    right: 0;
    width: 100%;
    height: 100%;
}
.hBugger::after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
}
.navContainer {
    position: absolute;
    background-color: white;
    top: 114px;
    right: 0;
    height: 95%;
    width: 300px;
    left: -315px;
    transition: 0.3s;
    padding-left: 15px;
    z-index: 100;
    opacity: 0;
}
#menuCheck:checked ~ .navContainer {
    left: 0;
    opacity: 1;
}
nav ul {
    list-style: none;
    display: grid;
    gap: 20px;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    padding: 7px;
    border-radius: 7px;
    font-size: medium;
}
nav ul a:hover {
    background-color: rgba(18, 34, 70, 0.342);
}
.userReg {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: green;
    font-size: larger;
    font-weight: bold;
    margin-left: -15px;
    padding-left: 15px;
    color: white;
    padding: 15px;
}
.userReg a:hover {
	text-decoration: underline;
}
h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    color:rgb(18, 34, 70);
    margin-top: -13px;
}
.searchButton {
    padding: 6px;
    background-color: green;
    border: 2px solid green;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 0.1s;
    cursor: pointer;
}
.searchButton:hover {
    background-color: rgb(2, 65, 2);
    border: 2px solid rgb(2, 65, 2);
}
.searchForm {
    padding: 9px;
    outline: none;
    width: 100%;
}
.search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid white;
}
.selector {
    padding: 9px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: none;
}
.hero {
    padding: 5px;
    padding-bottom: 130px;
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "heroOne"
    "heroTwo"
    "heroThree"
    "heroFour"
    "heroFive";
}
.heroNoodle {
    width: 450px;
    margin-top: -100px;
    margin-bottom: -130px;
}
.heroText {
    width: 40%;
    margin: auto;
}
.heroButton {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    margin: 30px;
    color: white;
    background-color: green;
    border: 2px solid green;
    font-weight: bolder;
    cursor: pointer;
    display: inline-block;
}
.heroButton:hover {
    background-color: rgb(2, 65, 2);
    border: 2px solid rgb(2, 65, 2);
}
#check {
    display: none;
}
.access {
    position: fixed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.705);
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    padding-top: 350px;
    display: none;
    z-index: 500;
}
.innerAccess {
    background-color: rgb(18, 34, 70);
    display: grid;
    gap: 25px;
    width: 300px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    color: white;
    z-index: 502;
}
.innerAccess a {
    text-decoration: underline;
}
#check:checked ~ .access{
    display: block;
}
.herotext {
    width: 50%;
    margin: auto;
    font-weight: bold;
}
.heroButton-2 {
    background-color: orange;
    border: none;
    padding: 10px;
    width: 170px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.heroButton-2:hover {
    background-color: rgb(156, 107, 16);
}
#section {
	position: fixed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.705);
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    padding-top: 100px;
    display: none;
    z-index: 500;
}
#check-2:checked ~ #section{
    display: block;
}
#check-2 {
    display: none;
}
.sectionForm {
    display: grid;
    gap: 10px;
    background-color: orange;
    width: 250px;
    padding: 30px;
    margin: auto;
    border-radius: 15px;
}
.sectionform {
    padding: 10px;
    border-radius: 15px;
}
.button {
    padding: 8px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(18, 34, 70);
    opacity: 0.8;
    border: none;
    color: white;
    cursor: pointer;
}
.button:hover {
    opacity: 1;
}
.formLogo {
    width: 100px;
}
.formText {
    text-align: left;
    margin-left: 35px;
    font-size: small;
    font-weight: bold;
    margin-bottom: -5px;
}
.frequentOrder {
    margin-top: 2rem;
    text-align: center;
    display: grid;
    gap: 5px;
}
.frqHeader {
    width: 50%;
    margin: auto;
    text-align: center;
}
.frqContainer {
    display: grid;
    gap: 20px;
    height: 950px;
    padding-bottom: 20px;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "frqOne"
    "frqTwo"
    "frqThree";
}
.frqItem img {
    width: 200px;
}
.frqItem {
    width: 200px;
    margin: auto;
    margin-top: 15px;
    height: 250px;
    position: relative;
}
.frqItem::after {
    position: absolute;
    content: "";
    top: 35px;
    right: 0;
    height: 105%;
    width: 100%;
    background-color: rgba(18, 34, 70, 0.185);
    z-index: -1;
    border-radius: 40px;
}
.frqItemOfor {
    width: 270px;
    margin: auto;
    margin-top: 30px;
    height: 300px;
    position: relative;
}
.frqItemOfor::after {
    position: absolute;
    content: "";
    top: 35px;
    right: 0;
    height: 105%;
    width: 100%;
    background-color: rgba(18, 34, 70, 0.185);
    z-index: -1;
    border-radius: 40px;
}
.frqItemOfor img {
    margin-top: -40px;
    width: 230px;
    margin-bottom: -28px;
}
.frqH {
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
}
.frqText {
    font-size: small;
    margin: 3px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
}
.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 25px;
    padding-bottom: 3px;
}
.rating img {
    width: 25px;
}
.shoutOut {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "fOne"
    "fTwo"
    "fThree";
}
.shoutOutH {
    /* font-size: Large; */
    text-align: center;
}
.shoutOutC {
    margin-top: -25px;
    width: 400px;
    margin-bottom: -40px;
}
.shoutOutT {
    width: 400px;
    margin: auto;
    margin-top: 30px;
    font-weight: bold;
}
.footer {
    display: grid;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-image: linear-gradient(gray, lightgray);
}
h2 {
    text-align: center;
}
.footerT {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    flex-flow: row wrap;
}
.footerT a:hover {
    background-color: rgba(250, 250, 250, 0.4);
}
.footerT img {
    width: 30px;
}
.innerF {
    display: flex;
    align-items: center;
}

/* grid-area assignment for hero section */
.hero .Hnoodle {
    grid-area: heroOne;
}
.hero .textOne {
    grid-area: heroTwo;
}
.hero .heroOrder {
    grid-area: heroThree;
}
.hero .textTwo {
    grid-area: heroFour
} 
.hero .Hbook {
    grid-area: heroFive;
}

/* grid-area assignment for freqent order section */
.frqContainer .frqOne {
    grid-area: frqOne;
}
.frqContainer .frqItemOfor {
    grid-area: frqTwo;
}
.frqContainer .frqTwo {
    grid-area: frqThree;
}

/* grid-area assignment for shout-out section */
.shoutOut .sImage {
    grid-area: fOne;
}
.shoutOut .shoutOutH {
    grid-area: fTwo;
}
.shoutOut .shoutOutT {
    grid-area: fThree;
}
.flag_lang {
    display: flex;
    gap: 8px;
}
#flag_2 {
    width: 18px;
    height: 17px;
    display: none;
}
.lang_2 {
    display: none;
}
.appMap {
    display: flex;
    gap: 10px;
}
.help {
    display: flex;
    gap: 10px;
}
.menu2nav {
    display: none;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.divideI {
    margin-left: 20px;
    margin-right: 20px;
}
.appMap ul {
    display: flex;
    align-items: center;
}
.help ul {
    display: flex;
    align-items: center;
}
.appMap h4 {
    color: rgb(18, 34, 70);
}
.help h4 {
    color: rgb(18, 34, 70);
}
.subMenu_2 .signIn {
    display: none;
    margin-top: -3px;
    text-align: center;
}
.subMenu_2 .signIn:hover {
    background-color: rgba(18, 34, 70, 0.342);
    color: red;
}
/* menu rearangement */
@media(min-width: 550px) {
    .cartContainer {
        display: none;
    }
    .cartContainerTwo {
        display: block;
    }
}
@media(min-width: 700px) {
    .menu_2Signin {
        display: none;
    }
    .frqContainer {
        height: 750px;
        gap: 0;
        grid-template-areas: 
        'frqTwo frqTwo'
        'frqOne frqThree';
    }
}
@media(min-width: 1000px) {
    .menu_2Signin_2 {
        display: block;
    }
    .subMenu_2 .signIn {
        display: block;
    }
    .lang_1 {
        display: none;
    }
    .lang_2 {
        display: block;
    }
    #flag_1 {
        display: none;
    }
    #flag_2 {
        display: block;
    }
    .menu2nav {
        display: flex;
    }
    .hBuggerContainer {
        display: none;
    }
    .divide {
        height: 50px;
        width: 1px;
        background-color: rgb(18, 34, 70);
        margin-left: 20px;
        margin-right: 20px;
    }
    .hero {
        margin-top: 40px;
        grid-template-areas: 
        "heroTwo heroOne"
        "heroThree heroOne"
        "heroFour heroOne"
        "heroFive heroOne";
    }
    .hero .Hnoodle {
        grid-area: heroOne;
        padding-right: 40%;
    }
    .hero .textOne {
        grid-area: heroTwo;
        padding-left: 30%;
    }
    .hero .heroOrder {
        grid-area: heroThree;
        padding-left: 30%;
    }
    .hero .textTwo {
        grid-area: heroFour;
        padding-left: 30%;
    } 
    .hero .Hbook {
        grid-area: heroFive;
        padding-left: 30%;
    }
    .frqContainer {
        grid-template-areas: 
        'frqOne frqTwo frqThree';
        height: 350px;
    }
    .shoutOut {
        margin-top: 30px;
        grid-template-areas: 
        "fOne fTwo"
        "fOne fThree";
    }
    .shoutOut .shoutOutH {
        padding-top: 100px;
        grid-area: fTwo;
    }
    .shoutOut .shoutOutT {
        margin-top: -180px;
        grid-area: fThree;
    }
    .navContainer {
        display: none;
    }
}

/* sign up page UI styling */

#nameError {
    font-size: small;
    color: orange;
    text-align: left;
    margin-left: 65px;
    width: fit-content;
}
.heading2 {
    background-color: darkslategray;
    width: 30%;
    margin: auto;
    padding: 10px;
    color: white;
    text-align: center;
}
.signupContainer {
	padding: 50px;
	text-align: center;
    height: 100vh;
}
.signupForm {
	background-color: white;
	display: grid;
	gap: 10px;
	width: 300px;
	padding: 20px;
	padding-left: 13px;
	padding-right: 20px;
	margin: auto;
	border-radius: 15px;
	box-shadow: 5px 5px 7px -2px black;
}
.signupForm img {
    width: 70px;
    margin: auto;
}
.signupIntro {
	font-size: small;
	text-align: center;
	margin: auto;
	width: 80%;
	color: darkslategray;
    margin-bottom: 10px;
    margin-top: -10px;
}
.signupText {
    font-size: small;
    color: darkslategray;
    font-weight: bold;
    text-align: left;
    width: 80px;
    margin-left: 70px;
}
.signupInput {
	padding: 5px;
	border-radius: 10px;
	outline: none;
	border: 1px solid darkslategray;
}
.signupcheck {
	display: grid;
    margin-left: 4px;
	cursor: pointer;
	align-items: center;
	width: 150px;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: darkslategray;
    opacity: 0.8;
	border-radius: 30px;
	text-align: center;
	color: white;
	font-size: small;
    box-shadow: 0 5px black;
    position: relative;
}
.signupcheck:hover {
    opacity: 1;
}
#signupCheck:checked + .signupcheck {
    top: 4px;
    box-shadow: none;
}
.confirmContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.submitBlur {
	display: none;
	padding-top: 100px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	backdrop-filter: blur(4px);
}
.submitContainer {
	width: 100%;
	background-color: darkslategray;
	padding: 10px;
}
.submitContainer-2 {
	display: grid;
	gap: 10px;
	width: 350px;
	margin: auto;
	color: white;
}
#signupCheck {
	display: none;
}
#signupCheck:checked ~ .submitBlur {
	display: block;
}
.signupButton {
	background-color: orange;
    opacity: 0.8;
	padding: 5px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 20px;
	border: 1px solid none;
	color: white;
	cursor: pointer;
}
.signupButton:hover {
    opacity: 1;
}
.bottomInfo {
    font-size: small;
    color: darkslategray;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}
.bottomInfo a {
    font-size: small;
}
.bottomInfo a:hover {
    color: green;
    text-decoration: underline;
}
.innerPassword {
    display: flex;
    width: 270px;
    margin-left: 15px;
}
.innerPassword img {
    width: 25px;
    cursor: pointer;
}
.Pinfo img {
    margin-right: 4px;
    width: 20px;
    margin-top: 3px;
    cursor: auto;
}
.Pinfo::before {
    position: fixed;
    content: "Please write out and store your generated password";
    top: 280px;
    right: 60%;
    width: 200px;
    height: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 6;
    display: flex;
    align-items: center;
    display: none;
}
.Pinfo:hover::before {
    display: flex;
}
#generate_p {
    opacity: 0.4;
}
#generate_p:hover {
    opacity: 1;
}
.generateP {
    margin-right: 6px;
}
.passwordFeed {
	text-align: center;
	color: red;
    font-size: small;
}
#confirmP {
	color: red;
	font-size: small;
	text-align: center;
}

/* styling for login page */

.Lpassword {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 68px;
    margin-top: -10px;
}
.Lpassword img {
    width: 25px;
}
.Lpassword img {
    cursor: pointer;
}
.loginC {
    margin-top: 15px;
}
.loginC input {
    background-color: green;
    font-weight: bold;
    padding: 7px;
    color: white;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 20px;
    border: 1px solid green;
    cursor: pointer;
}
.loginC input:hover {
    background-color: rgb(1, 104, 1);
}

/* styling for homepage */

/* #home {
    height: 100vh;
} */

.heroSlider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    align-items: center;
    margin-left: 10px;
}
.heroSlider::-webkit-scrollbar {
    display: none;
}
.heroSlider img {
    height: 500px;
    width: 90%;
    flex: 1 0 auto;
    scroll-snap-align: start;
    border-radius: 40px;
    margin: 10px;
    /* margin-left: 20px; */
}
.heroContainerHome {
    position: relative;
}
.sliderNav {
    display: flex;
    position: absolute;
    align-items: center;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px;
}
.sliderNav div {
    background-color: rgb(18, 34, 70);
    opacity: 0.5;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin: 5px;
}
.sliderNav div:hover {
    opacity: 1;
}
.sliderNav .choosen {
    opacity: 1;
    width: 12px;
    height: 12px;
}
.choices {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 545px;
    padding: 10px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "choice-1"
    "choice-2"
    "choice-3"
    "choice-4";
    gap: 5px;
    justify-content: center;
}
.choices2 {
    padding: 10px;
    display: grid;
    width: fit-content;
    margin: auto;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "choice-1"
    "choice-2"
    "choice-3"
    "choice-4";
    gap: 5px;
    justify-content: center;
}
.choiceC {
    background-color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.choiceC h2 {
    text-align: left;
    color: darkslategray;
    margin: 5px;
}
.choice-1 {
    display: grid;
    justify-content: center;
    width: 400px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    gap: 20px;
}
.choice-1 img {
    width: 200px;
}

/* congiguring the cuisines from different regions */

#choice_1 {
    grid-area: choice-1;
}
#choice_2 {
    grid-area: choice-2;
}
#choice_3 {
    grid-area: choice-3;
}
#choice_4 {
    grid-area: choice-4;
}
.adContainer {
    margin: 3px;
    margin-right: 27px;
    margin-left: 27px;
    padding: 3px;
    margin-top: 2170px;
    background-color: white;
}
.adContainer h2 {
    text-align: left;
}
.motionAdContainer {
    width: 100vw;
    overflow: hidden;
    margin-top: 150px;
    margin-bottom: -100px;
}
.motionAd {
    display: inline-block;
    white-space: nowrap;
    padding: 3px;
    background: green;
    color: white;
}
.motionAd span {
    color: lightgreen;
    font-weight: bolder;
}
.motionAd.move2 {
    animation: moveAd 28s 3s linear infinite;
}
@keyframes moveAd {
    to {
        transform: translateX(-2800px);
    }
}
.ad {
    display: flex;
    overflow-x: auto;
}
.ad img {
    width: 300px;
    flex: 1 0 auto;
}
.ad .mango {
    width: 200px;
    flex: 1 0 auto;
}
.footer-h {
    background-image:linear-gradient(rgb(18, 34, 70), lightgray); 
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 100px;
    padding: 50px;
}
.footer-h img {
    width: 30px;
    margin-bottom: -7px;
}
.footer-h a:hover {
    background: white;
    padding: 3px;
    border-radius: 20px;
}
.rights {
    text-align: center;
    background: lightgray;
    font-size: small;
    color: rgb(18, 34, 70);
}
#home_page {
    background: rgb(18, 34, 70);
    color: white;
}
@media(min-width: 765px) {
    .heroSlider img {
        height: 700px;
    }
    .choices {
        top: 720px;
    }
}
@media(min-width: 1060px) {
    .heroSlider img {
        height: 900px;
    }
    .choices {
        top: 920px;
    }

}
@media(min-width: 985px) {
    .choices {
        grid-template-areas: 
        "choice-2 choice-1"
        "choice-4 choice-3";
    }
    .choices2 {
        grid-template-areas: 
        "choice-2 choice-1"
        "choice-4 choice-3";
    }
    .adContainer {
        margin-top: 1020px;
    }
}
@media(min-width: 1700px) {
    .choices {
        grid-template-areas: 
        "choice-2 choice-1 choice-4 choice-3";
    }
    .choices2 {
        grid-template-areas: 
        "choice-2 choice-1 choice-4 choice-3";
        margin-left: -15px;
    }
    .adContainer {
        margin-top: 470px;
    }
    .move {
        display: none;
    }
}

/* style for profile page*/

.banner {
    position: relative;
}
 .banner img {
    height: 200px;
    width: 100%;
 }
 .pfpLogo {
    position: absolute;
    top: 5px;
    right: 5px;
 }
 .pfpLogo img {
    width: 80px;
    height: 80px;
 }
 .pfpLogo + div {
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(211, 211, 211, 0.281);
    border-radius: 15px;
    width: fit-content;
    padding: 4px;
    text-align: center;
 }
 .pfpLogo + div:hover {
    background: rgba(211, 211, 211, 0.753);
 }
 .pfpLogo + div img {
    width: 35px;
    height: 35px;
 }
 .pfp {
    position: relative;
    margin-top: -70px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 7px;
    font-family: "Poppins";
 }
.pfp .editPfp {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    padding: 3px;
    background: rgba(128, 128, 128, 0.829);
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}
.pfp .editPfp img {
    margin-top: 6px;
    width: 40px;
    height: 40px;
}
.pfp .editPfp:hover {
    opacity: 1;
}
.pfp2 {
    padding: 7px;
    font-family: "Poppins";
    align-items: center;
    display: none;
 }
 .pfp2 img {
    width: 100px;
    height: 100px;
 }
 .pfp img {
    width: 100px;
    height: 100px;
 }
 .pfp div {
    text-align: center;
 }
 .pfpName {
    font-weight: bolder;
    font-size: large;
    text-align: center;
 }
 .pfpText {
    font-size: small;
 }
 .pfpText a:hover {
    text-decoration: underline;
 }
 .pfpName + .pfpText {
    margin-bottom: 10px;
 }
.forMail {
    margin: auto;
}
.mail img {
    width: 20px;
}
.mail {
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.mail span {
    font-size: small;
}
.orderDetails {
    padding: 10px;
    display: grid;
    grid-template-areas: 
    "one"
    "two";
}
.myOrder {
    padding: 10px;
    border-radius: 10px;
    background: rgba(211, 211, 211, 0.281);
    margin: 10px;
}
.orderInfo img {
    height: 30px;
    width: 30px;
}
.orderInfo .rightArrow {
    height: 20px;
    width: 20px;
}
.orderInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 97%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 15px;
    transition: 0.3s;
}
.orderInfo .orderN {
    background-color: red;
    color: white;
    padding: 3px;
}
.orderInfo div {
    width: fit-content;
    display: flex;
    align-items: center;
}
.myOrderH {
    font-size: large;
    font-weight: bolder;
}
.notice {
    background: rgba(211, 211, 211, 0.281);
    text-align: right;
    border-radius: 15px;
    width: fit-content;
    margin: 10px;
    margin-left: auto;
    transition: 0.3s;
    position: relative;
}
.notice:hover {
    background: rgba(211, 211, 211, 0.726);
}
.notice img {
    width: 40px;
    height: 40px;
}
.recommendC {
    display: none;
}

#order {
    grid-area: one;
}
#settings {
    grid-area: two;
}
@media(min-width: 650px) {
    .orderDetails {
        grid-template-areas:
        "one two";
    }
}
@media(min-width: 850px) {
    .orderDetails {
        grid-template-areas: 
        "one"
        "two";
    }
    .profile {
        display: grid;
        /* grid-auto-columns: 1fr; */
        grid-template-areas: 
        "pfp-one pfp-two";
        margin-top: 60px;
    }
    .pfp2 {
        display: grid;
        position: relative;
        justify-content: center;
        text-align: center;
    }
    .editPfp {
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        padding: 3px;
        background: rgba(128, 128, 128, 0.829);
        opacity: 0.6;
        transition: 0.3s;
        cursor: pointer;
    }
    .editPfp img {
        margin-top: 7px;
        width: 40px;
        height: 40px;
    }
    .editPfp:hover {
        opacity: 1;
    }
    .mail {
        margin-top: 5px;
    }
    .pfp {
        display: none;
    }
}
@media (min-width: 1000px) {
    .forMail {
        margin: 2px;
    }
    .recommendC {
        margin: auto;
        margin-top: 90px;
        width: 650px;
        display: block;
    }
    .recommendC div:nth-child(1) {
        font-size: larger;
        font-weight: bold;
        margin: 5px;
    }
    .recommend {
        display: flex;
        overflow-x: auto;
        width: 100%;
        background: rgba(255, 255, 255, 0.479);
    }
    .recommend img {
        width: 250px;
        height: 250px;
    }
}
.profile .forMail {
    grid-area: pfp-one;
}
.profile .orderDetails {
    grid-area: pfp-two;
}
